header {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.search {
  display: flex;

  align-items: center;
}

.google-logo {
  width: 92px;
  height: auto;
  padding: 2%;
}

.search-bar {
  border-radius: 24px;
  border: 1px solid;

  padding: 10px;
  display: flex;
  margin-left: 25px;
}

input {
  border: none;
  height: 20px;
  width: 250px;
}

.search-icons {
  display: flex;
  margin: 0 0 0 auto;
}

.icons {
  margin: auto 5px;
}

header .profile {
  display: flex;
  align-items: center;
  margin: 0 0 0 auto;
  padding: 2%;
}

header .app-btn {
  padding: 15%;
  width: 25px;
  height: 25px;
}

header .profile-pic {
  border-radius: 50px;

  width: 32px;
  height: 32px;
}

nav {
  display: flex;
  flex-direction: row;
}

nav .left-nav {
  display: flex;
  /* margin: 0 0 0 auto; */
  margin-left: 125px;

  justify-content: flex-start;
}

.left-nav a {
  padding: 0 10px;
}

.right-nav {
  display: flex;

  margin-left: auto;
}

.result-time {
  margin-left: 125px;
  padding: 0 10px;
}

.sites {
  margin-left: 125px;
  padding: 0 10px;
  width: 60%;
}

.sites a {
  text-decoration: none;
  font-size: 22px;
}

.videos {
  display: flex;
}
